.page-content-white .page-title {
    margin: 0 0 30px 0;
}

.page-content-white .page-content .page-bar {
    margin-bottom: 25px;
}

.page-content-white .page-bar .page-breadcrumb>li>a {
    color: #5C9BD1;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

select.form-control,
select.form-control option {
    cursor: pointer;
}

.form-control[disabled],
.select2-container--bootstrap.select2-container--disabled .select2-selection {
    cursor: default;
}

.mt-repeater {
    display: block;
    width: unset;
}

.login .content .has-error .form-control:active,
.login .content .has-error .form-control:focus {
    border-color: #d71b29 !important;
}

.login .content .has-error .form-control {
    border-color: #e73d4a !important;
}

.has-error .note-editor.note-frame {
    border-color: #e73d4a !important;
}

.btn-file input::-webkit-file-upload-button {
  cursor: pointer;
}
.page-header.navbar .page-logo .logo-default {
    margin: 10px 0;
}